---
import Doc, { type Documentation } from './Doc.astro';
import DocsFilters from './DocsFilters.astro';
import DocsSyntaxes from './DocsSyntaxes.astro';
import docs from '../../assets/docs/docs.json';

const latest = docs.skriptVersion;
const all = [...docs.classes, ...docs.conditions, ...docs.effects, 
            ...docs.events, ...docs.expressions, ...docs.functions,
            ...docs.sections, ...docs.structures].toSorted((x, y) => x.name.localeCompare(y.name));

const docTypes: Documentation[] = all.map(doc => ({
    id: doc.id,
    name: doc.name,
    new: doc.since?.includes(latest.split(".").slice(0, 2).join(".")) || false,
    type: type(doc),
    since: (doc.since as string),
    description: doc.description,
    examples: (doc.examples?.length === 1 && doc.examples?.[0] === "") ? null : (doc.examples || null),
    patterns: (doc.patterns?.length === 1 && doc.patterns?.[0] === "") ? null : (doc.patterns || null),
    requirements: null,
    eventValues: null,
    returnType: null,
    events: null
}));

export enum DocType {
    UNKNOWN = "All",
    NEW = "New",
    TYPE = "Type",
    CONDITION = "Condition",
    EFFECT = "Effect",
    EVENT = "Event",
    EXPRESSION = "Expression",
    FUNCTION = "Function",
    SECTION = "Section",
    STRUCTURE = "Structure"
}

function type(doc: any): DocType {
    return docs.classes.includes(doc) ? DocType.TYPE :
    docs.conditions.includes(doc) ? DocType.CONDITION :
    docs.effects.includes(doc) ? DocType.EFFECT :
    docs.events.includes(doc) ? DocType.EVENT :
    docs.expressions.includes(doc) ? DocType.EXPRESSION :
    docs.functions.includes(doc) ? DocType.FUNCTION :
    docs.sections.includes(doc) ? DocType.SECTION :
    docs.structures.includes(doc) ? DocType.STRUCTURE : DocType.UNKNOWN;
}
---

<script>
    function update() {
        let diff = 0;
        if (screen.width > 768) {
            diff = 2 * 256;
        }
        document.getElementById("docs")!!.style.width = `${document.getElementById("nav")!!.clientWidth - diff}px`
    }

    window.addEventListener("resize", update);
    window.addEventListener("DOMContentLoaded", update);

    document.querySelectorAll("button.examples").forEach((button) => {
        button.addEventListener("click", () => {
            const example = button.parentElement!!.querySelector(`.example`)!!;
            button.querySelector("svg")?.classList.toggle("-rotate-90");
            example.classList.toggle("hidden");
        });
    });

    document.querySelectorAll(".share").forEach((button) => {
        button.addEventListener("click", () => {
            const id = button.parentElement!!.querySelector(`.id`)!!.id;
            const url = `${window.location.origin}${window.location.pathname}#${id}`;
            navigator.clipboard.writeText(url);

            if (screen.width > 768) {
                const p = button.getElementsByTagName("p")[0];
                p.classList.remove("hidden");
                setTimeout(() => p.classList.add("hidden"), 2000);
            }
        });
    });

    const options = {
        rootMargin: "0px",
        threshold: 0.7,
    };

    const observer = new IntersectionObserver((entries) => {
        let matched: HTMLElement | null = null;

        for (let i = 0; i < entries.length; i++) {
            if (entries[i].isIntersecting) {
                matched = entries[i].target as HTMLElement;
                break;
            }
        }

        const id = matched?.querySelector(".id")?.id

        if (id !== null) {
            const anchor = document.querySelector(`a[href="#${id}"]`) as HTMLAnchorElement | null;

            if (anchor === null) {
                return;
            }

            anchor.classList.add("syntax-active");

            document.querySelectorAll(".syntax-active").forEach((a) => {
                if (a !== anchor) {
                    a.classList.remove("syntax-active");
                }
            });

            const syntax = document.getElementById("syntax")!!;
            syntax.scrollTop = anchor.offsetTop 
                - (syntax.clientHeight - document.getElementById("nav")!!.clientHeight) / 2;
        }
    }, options);

    document.querySelectorAll(".doc-container").forEach((div) => {
        observer.observe(div);
    });
</script>

<div class="flex flex-col-reverse md:flex-row">
    <DocsSyntaxes syntaxes={docTypes.map(syntax => {
        return {
            id: syntax.id,
            isNew: syntax.new,
            type: syntax.type,
            since: syntax.since!!,
            name: syntax.name
        }
    })}/>

    <div id="docs" class="p-2 md:p-6 flex-auto h-fit flex flex-col gap-2 md:gap-4">
        {docTypes.map(x => <Doc docType={x}/>)}
    </div>

    <DocsFilters/>
</div>