---
import type { Documentation } from './Doc.astro';

interface Props {
    docType: Documentation;
}

const { docType }: Props = Astro.props;
---

<a href={`#${docType.id}`}
    data-new={docType.new} data-type={docType.type} data-since={docType.since} 
    class="w-full text-left p-2 rounded-md bg-l-bg-secondary dark:bg-d-bg-secondary hover:cursor-pointer">
    {docType.name}
</a>

<style>
    .hidden-by-type {
        display: none;
    }

    .hidden-by-version {
        display: none;
    }
</style>