---
import type { DocType } from './Docs.astro';

export interface Syntax {
    id: string;
    isNew: boolean;
    type: DocType;
    since: string;
    name: string;
}

interface Props {
    syntax: Syntax;
}

const { syntax }: Props = Astro.props;
---

<a href={`#${syntax.id}`}
    data-new={syntax.isNew} data-type={syntax.type} data-since={syntax.since} 
    class="syntax">
    {syntax.name}
</a>