---
import { PageType } from '../Nav.astro';

interface Props {
    type: PageType;
}

const { type }: Props = Astro.props;

interface TabData {
    name: string;
    link: string;
    color: string;
}

const pages: TabData[] = [
    { name: "Docs", link: "../docs", color: "9C0505" },
    { name: "Tutorials", link: "../tutorials", color: "1B8C17" },
    { name: "Tools", link: "../tools", color: "0099B3" }
];

let active: TabData | null = null;
switch (type) {
    case PageType.DOCS:
        active = pages[0];
        break;
    case PageType.TUTORIALS:
        active = pages[1];
        break;
    case PageType.TOOLS:
        active = pages[2];
        break;
}
---

<div class="w-fit pt-1 m-auto flex flex-row gap-2 sm:gap-4 text-xl text-white">
    {pages.map(page => {
        if (active?.name === page.name) {
            return <div class="flex flex-col gap-1">
                <a href={page.link} class="outfit px-4 sm:px-8 py-1 m-auto rounded-md font-bold shadow-lg"
                    style={{ backgroundColor: `#${page.color}` }}>
                    {page.name}
                </a>
                <div class="w-full h-1" style={{ backgroundColor: `#${page.color}` }}></div>
            </div>
        } else {
            return <div class="flex flex-col gap-1">
                <a href={page.link} class="outfit mt-0 px-4 sm:px-8 py-1 m-auto rounded-md hover:cursor-pointer"
                    style={{ backgroundColor: `#${page.color}` }}>
                    {page.name}
                </a>
                <div class="w-full h-1"></div>
            </div>
        }
    })}
</div>